# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/framework/__pycache__/
/framework/gaussian_models/__pycache__/*.pyc
/framework/misc/__pycache__/data_series.cpython-38.pyc
/framework/misc/__pycache__/dataseries.cpython-38.pyc
/framework/misc/__pycache__/parallelism.cpython-38.pyc
/framework/misc/__pycache__/ui.cpython-38.pyc
/framework/tails.py~
/toy-models/0/chains/
/toy-models/2/chains/
/toy-models/chains/
/framework/chains/
/ltximg/
