[submodule "CosmoChord"]
	path = CosmoChord
	url = https://github.com/appetrosyan/CosmoChord.git
[submodule "LCDM-NS.wiki"]
	path = LCDM-NS.wiki
	url = https://github.com/appetrosyan/LCDM-NS.wiki.git
